<!DOCTYPE html>

<html th:replace="~{fragments/layout :: layout (~{::body},'owners')}" xmlns:th="https://www.thymeleaf.org">

<body>

<h2>Owners</h2>

<table class="table table-striped" id="owners">
    <thead>
    <tr>
        <th style="width: 150px;">ID</th>
        <th style="width: 200px;">First Name</th>
        <th style="width: 120px">Last Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="owner : ${owners}">
        <td th:text="${owner.id}"/>
        <td th:text="${owner.firstName}"/>
        <td th:text="${owner.lastName}"/>
    </tr>
    </tbody>
</table>

</body>
</html>
