<!DOCTYPE html>

<html th:replace="~{fragments/layout :: layout (~{::body},'owners')}" xmlns:th="https://www.thymeleaf.org">

<body>

<h2>Owners</h2>

<table class="table table-striped" id="owners">
    <thead>
    <tr>
        <th style="width: 150px;">Name</th>
        <th style="width: 200px;">Address</th>
        <th style="width: 200px;">City</th>
        <th style="width: 120px">Telephone</th>
        <th style="width: 120px">Pets</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="owner : ${owners}">
        <td>
            <a th:href="@{/owners/__${owner.id}__}" th:text="${owner.firstName + ' ' + owner.lastName}"/></a>
        </td>
        <td th:text="${owner.address}"></td>
        <td th:text="${owner.city}"></td>
        <td th:text="${owner.telephone}"></td>
        <td>
                  <span th:each="pet : ${owner.pets}">
                      <span th:text="${pet.name} "></span>
                      <br>
                  </span>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
