<!DOCTYPE html>

<html th:replace="~{fragments/layout :: layout (~{::body},'vets')}"
      xmlns:th="https://www.thymeleaf.org">

<body>

<h2>Veterinarians</h2>

<table class="table table-striped" id="vets">
    <thead>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vet : ${vets}">
        <td th:text="${vet.id}">1</td>
        <td th:text="${vet.firstName}">Joe</td>
        <td th:text="${vet.lastName}">Buck</td>
    </tr>
    </tbody>
</table>
</body>
</html>
